* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #9f86c0;
}

.nav {
    width: 100%;
    background: #231942;
    display: flex;
}

.logo {
    height: 54px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.logo img {
    width: 130px;
}

/* First Page*/
.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("img/weather-img-home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.title {
    color: #fff;
    font-family: 'Ibarra Real Nova', serif;
    text-transform: uppercase;
    position: relative;
    bottom: 14%;
}

.title-name {
    color: #fff;
    font-family: 'Ibarra Real Nova', serif;
    text-transform: uppercase;
    font-size: 20px;
}

.box {
    width: 28%;
    height: 50%;
    padding: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    border-radius: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #231942;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.location-h2 {
    color: #fff;
    font-family: 'Ibarra Real Nova', serif;
    text-transform: uppercase;
    font-size: 20px;
}

.box input[type='text'],
.box input[type='search'] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #5B85AA;
    padding: 14px 10px;
    width: 200px;
    color: white;
    border-radius: 100px;
    transition: 0.25s;
}

.box input[type='text']:focus,
.box input[type='search']:focus {
    width: 280px;
    border-color: aqua;
}

.box input[type='button'] {
    border: 0;
    transform: translateY(-50%, -50%);
    margin: 20px auto;
    text-align: center;

    padding: 14px 40px;
    color: white;
    border-radius: 30px;
    transition: 0.25s;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    box-sizing: border-box;
    background-size: 400%;
}

.box input[type='button']:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.box input[type='button']:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ff3b3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
}

.box input[type="button"]:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

/*Finish first page */

/*Second Page */



/* Footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background: #5e548e;
}
